<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Авторизация</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
        <div class="square">
            <h3>Введите свои данные</h3>
            <br>
            <form method="post" action="/login">
                <p>Введите логин:</p>   <input type="text" name="user_login" placeholder="Логин"><br>
                <p>Введите пароль:</p>  <input type="text" name="user_password" placeholder="Пароль"><br>
                <input type="submit" value="Войти">
            </form>
        </div>
        
        <div class="footer">Конец страницы</div>
    </body>
</html>