<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>ООО "ПИВСОЮЗ"</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/common.css') }}">
    </head>
    <body>
        <div class="header">
            {% if role == 'engineer' %}
                <form action="/all"><input type="submit" class="main_header" value="Все страницы"></input></form> 
                <form action="/all-devices"><input type="submit" class="eng_devices" value="Список устройств"></input></form>
                <form action="/component-lib"><input type="submit" class="eng_lib" value="Компоненты"></input></form> 
                <form action="/engineer-help"><input type="submit" class="eng_help" value="Помощь"></input></form> 
            {% endif %}
            {% if role == 'technologist' %}
                <form action="/all"><input type="submit" class="main_header" value="Все страницы"></input></form> 
                <form action="/tech-processes"><input type="submit" class="eng_devices" value="Тех. процесы"></input></form>
                <form action="/tools"><input type="submit" class="eng_lib" value="Оборудование"></input></form> 
                <form action="/technologist-help"><input type="submit" class="eng_help" value="Помощь"></input></form> 
            {% endif %}
            <a href="/user" class="user_circle" value=""></a> 
        </div>
        
        
        <footer class="footer">Может по пиву?</footer>
    </body>
</html>