<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>список сотрудников</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/common.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/director/staff.css') }}">
    </head>
    <body>
        <div class="header">
            <form action="/"><input type="submit" class="main_header" value="Главная"></input></form>
            {% if role == 'engineer' %}
                <form action="/all-devices"><input type="submit" class="eng_devices" value="Список устройств"></input></form>
                <form action="/component-lib"><input type="submit" class="eng_lib" value="Компоненты"></input></form> 
                <form action="/engineer-help"><input type="submit" class="eng_help" value="Помощь"></input></form> 
            {% endif %}
            {% if role == 'technologist' %}
                <form action="/tech-processes"><input type="submit" class="eng_devices" value="Тех. процесы"></input></form>
                <form action="/tools"><input type="submit" class="eng_lib" value="Оборудование"></input></form> 
                <form action="/technologist-help"><input type="submit" class="eng_help" value="Помощь"></input></form> 
            {% endif %}
            {% if role == 'director' %}
                <form action="/add-tasks"><input type="submit" class="eng_lib" value="Задачи"></input></form>
                <form action="/staff"><input type="submit" class="eng_devices" value="Сотрудники"></input></form>
            {% endif %}
            {% if role == 'guest' %}
                <form action="/all-devices"><input type="submit" class="eng_devices" value="Список устройств"></input></form>
                <form action="/tech-processes"><input type="submit" class="eng_lib" value="Тех. процесы"></input></form> 
            {% endif %}
            <a href="/user" class="user_circle" value=""></a> 
        </div>

        <div class="devices">
            <p style="margin-top:100px; margin-left: 50px; font-family: 'Arial'; font-size: 30px; color:rgb(185, 65, 60);">Список сотрудников:</p>
            <div class="device_header">
                <div class="device_name">Сотрудник</div>
                <div class="device_about">Почта</div>
                <div class="device_TP">Телефон</div>
                <div class="device_count">Должность</div>
            </div>
            {% if staff_data != {} %}
                {% for device in staff_data %}
                    <div class="device">
                        <div class="device_name">{{device[0]}} {{device[1]}}</div>
                        <div class="device_about">{{device[3]}}</div>
                        <div class="device_TP">{{device[2]}}</div>
                        <div class="device_count">{{device[4]}}</div>
                    </div>
                    
                {% endfor %}
            {% endif %}
        </div>
        
        <footer class="footer">Хорошего дня!</footer>
    </body>
</html>