<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Устройство "{{device_data['name']}}"</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/common.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/engineer/device.css') }}">
    </head>
    <body>
        <div class="header">
            <form action="/"><input type="submit" class="main_header" value="Главная"></input></form>
            {% if role == 'engineer' %}
                <form action="/all-devices"><input type="submit" class="eng_devices" value="Список устройств"></input></form>
                <form action="/component-lib"><input type="submit" class="eng_lib" value="Компоненты"></input></form> 
                <form action="/engineer-help"><input type="submit" class="eng_help" value="Помощь"></input></form> 
            {% endif %}
            {% if role == 'technologist' %}
                <form action="/tech-processes"><input type="submit" class="eng_devices" value="Тех. процесы"></input></form>
                <form action="/tools"><input type="submit" class="eng_lib" value="Оборудование"></input></form> 
                <form action="/technologist-help"><input type="submit" class="eng_help" value="Помощь"></input></form> 
            {% endif %}
            {% if role == 'director' %}
                <form action="/all-devices"><input type="submit" class="eng_devices" value="Список устройств"></input></form>
                <form action="/tech-processes"><input type="submit" class="eng_lib" value="Тех. процесы"></input></form> 
                <form action="/add-task"><input type="submit" class="eng_help" value="Задачи"></input></form> 
            {% endif %}
            {% if role == 'guest' %}
                <form action="/all-devices"><input type="submit" class="eng_devices" value="Список устройств"></input></form>
                <form action="/tech-processes"><input type="submit" class="eng_lib" value="Тех. процесы"></input></form> 
            {% endif %}
            <a href="/user" class="user_circle" value=""></a> 
        </div>
        
        <div class="device">
            <p style="padding: 5% 10% 0%; font-family: 'Arial'; font-size: 20px; color:rgb(83, 141, 124);">Устройство: {{device_data['name']}}</p>
            <p style="padding: 0% 10% 0%; font-family: 'Arial'; font-size: 20px; color:rgb(83, 141, 124);">Описание: {{device_data['about']}}</p>
            <p style="padding: 0% 10% 5%; font-family: 'Arial'; font-size: 20px; color:rgb(83, 141, 124);">Количество компонентов: {{device_data['count']}}</p>
        </div>
        <div class="tech_process">
            <p style="padding: 2px 10% 0%; font-family: 'Arial'; font-size: 20px; color:rgb(83, 141, 124);">Технологический процесс:</p>
            {% if device_data['TP'] == None or device_data['TP'] == [] %}
            <p style="padding: 50px 10% 0%; font-family: 'Arial'; font-size: 20px; color:rgb(180, 67, 32);">Ещё не назначен</p>
            {% else %}
                <img style="width: 200px; margin-bottom: 5px;" src="{{ qrcode(qr) }}" onclick="window.location.href='/process/{{device_data['TP']}}'">
            {% endif %}
        </div>
        {% if role == 'engineer' or role == 'director' %}
            <div class="add_component">
                <p style="padding: 5px 10% 0%; font-family: 'Arial'; font-size: 20px; color:rgb(83, 141, 124);">Добавить компонент:</p>
                <form action="/component-add/{{device_data['id']}}" method="post">
                    <input style="margin-top: 20px;" type="text" name="component_designator" placeholder="Позиционное обозначение"><br>
                    <input style="margin-top: 20px;" type="text" name="component_nominal" placeholder="Номинал"><br>
                    <select style="margin-top: 20px;" id="component_partnumber" name="component_partnumber">
                        {% for component in components_lib %}
                            <option value="{{component[0]}}">{{component[1]}}</option>
                        {% endfor %}
                    </select><br>
                    <input style="margin-top: 15px;" type="submit" value="Добавить">
                </form>
            </div>
        {% endif %}
        <div class="components">
            <p style="margin-top:20px; margin-left: 100px; font-family: 'Arial'; font-size: 30px; color:rgb(185, 65, 60);">
                Список компонентов устройства:</p>
            <div class="component_header">
                <div class="component_designator">Поз. обозначение</div>
                <div class="component_partnumber">Название</div>
                <div class="component_nominal">Номинал</div>
                <div class="component_installation">Монтаж</div>
                <div class="component_manufacturer">Производитель</div>
            </div>
            {% if components_data != {} %}
                {% for component in components_data %}
                    <div class="component">
                        <div class="component_designator">{{component['designator']}}</div>
                        <div class="component_partnumber">{{component['partnumber']}}</div>
                        {% if component['nominal'] == None %}
                            <div class="component_nominal">-</div>
                        {% else %}
                            <div class="component_nominal">{{component['nominal']}}</div>
                        {% endif %}
                        <div class="component_installation">{{component['installation']}}</div>
                        <div class="component_manufacturer">{{component['manufacturer']}}</div>
                        {% if role == 'engineer' or role == 'director' %}
                            <div class="delete_component" onclick="window.location.href='/component-delete/{{component['id']}}'">-</div>
                        {% endif %}
                    </div>
                    
                {% endfor %}
            {% endif %}
        </div>
        
        <footer class="footer">
            <i onclick="window.location.href='/generate-pe3-xlsx/{{device_data['id']}}'">Сгенерировать ПЭ3</i>
        </footer>
    </body>
</html>