<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>ТП {{process_data['id']}}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/common.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/technologist/process.css') }}">
    </head>
    <body>
        <div class="header">
            <form action="/"><input type="submit" class="main_header" value="Главная"></input></form>
            {% if role == 'engineer' %}
                <form action="/all-devices"><input type="submit" class="eng_devices" value="Список устройств"></input></form>
                <form action="/component-lib"><input type="submit" class="eng_lib" value="Компоненты"></input></form> 
                <form action="/engineer-help"><input type="submit" class="eng_help" value="Помощь"></input></form> 
            {% endif %}
            {% if role == 'technologist' %}
                <form action="/tech-processes"><input type="submit" class="eng_devices" value="Тех. процесы"></input></form>
                <form action="/tools"><input type="submit" class="eng_lib" value="Оборудование"></input></form> 
                <form action="/technologist-help"><input type="submit" class="eng_help" value="Помощь"></input></form> 
            {% endif %}
            {% if role == 'director' %}
                <form action="/add-tasks"><input type="submit" class="eng_lib" value="Задачи"></input></form>
                <form action="/staff"><input type="submit" class="eng_devices" value="Сотрудники"></input></form>
            {% endif %}
            {% if role == 'guest' %}
                <form action="/all-devices"><input type="submit" class="eng_devices" value="Список устройств"></input></form>
                <form action="/tech-processes"><input type="submit" class="eng_lib" value="Тех. процесы"></input></form> 
            {% endif %}
            <a href="/user" class="user_circle" value=""></a> 
        </div>
        
        <div class="process">
            <p style="padding: 5% 10% 5%; font-family: 'Arial'; font-size: 30px; color:rgb(83, 141, 124);">{{process_data['note']}}</p>
        </div>

        {% if role == 'technologist' or role == 'director' %}
            <div class="add_operation">
                <p style="padding: 5px 10% 0%; font-family: 'Arial'; font-size: 20px; color:rgb(83, 141, 124);">Добавить операцию:</p>
                <form action="/process/{{process_data['id']}}" method="post">
                    <div style="width: 70%; background-color: #bdb0bc5b;padding: 2px; margin-left: 15%; border-radius: 10px;">
                        <select style="margin-top: 5px; width: 60%;" id="group" name="group">
                            {% for group in group_lib %}
                                {% if group[2] < 10 %}
                                    <option value="{{group[2]}}">{{group[1]}} (0{{group[2]}}00)</option>
                                {% else %}
                                    <option value="{{group[2]}}">{{group[1]}} ({{group[2]}}00)</option>
                                {% endif %}
                            {% endfor %}
                        </select><br>
                        <input style="margin-top: 15px;" type="submit" value="Выбрать группу операций">
                    </div>
                </form>
                <form action="/operation-add/{{process_data['id']}}" method="post">
                    <input style="margin-top: 20px;" type="text" name="operation_about" placeholder="Об операции"><br>
                    <input style="margin-top: 20px;" type="text" name="operation_time" placeholder="Время выполнения(в секундах)"><br>
                    <select style="margin-top: 20px; width: 60%;" id="operation_tool" name="operation_tool">
                        {% for tool in tools_lib %}
                            <option value="{{tool[0]}}">{{tool[1]}}</option>
                        {% endfor %}
                    </select><br>
                    <select style="margin-top: 20px; width: 60%;" id="operation_gost" name="operation_gost">
                        {% for operation in operation_lib %}
                            {% if operation[0] < 10 %}
                                <option value="{{operation[0]}}">({{group_t}}0{{operation[1]}}) {{operation[2]}}</option>
                            {% else %}
                                <option value="{{operation[0]}}">({{group_t}}{{operation[1]}}) {{operation[2]}}</option>
                            {% endif %}
                        {% endfor %}
                    </select><br>
                    <input style="margin-top: 15px;" type="submit" value="Добавить">
                </form>
            </div>
            <div class="add_to_device">
                <p style="padding: 5px 10% 0%; font-family: 'Arial'; font-size: 20px; color:rgb(83, 141, 124);">Добавить ТП к устройству:</p>
                <form action="/tp-to-device/{{process_data['id']}}" method="post">
                    <select style="margin-top: 20px; width: 60%;" id="device_id" name="device_id">
                        {% for device in device_lib %}
                            <option value="{{device[0]}}">{{device[1]}}</option>
                        {% endfor %}
                    </select><br>
                    <input style="margin-top: 15px;" type="submit" value="Добавить">
                </form>
            </div>
        {% endif %}

        <div class="operations">
            <p style="margin-top:20px; margin-left: 100px; font-family: 'Arial'; font-size: 30px; color:rgb(185, 65, 60);">
                Технологические операции:</p>
            <div class="operation_header ">
                <div class="operation_number">Номер</div>
                <div class="operation_about">Название</div>
                <div class="operation_gost">Обозначение</div>
                <div class="operation_tools">Оборудование</div>
                <div class="operation_time">Время, С</div>
            </div>
            {% if operations_data != {} %}
                {% for i in range(length) %}
                    <div class="operation">
                        <div class="operation_number">{{operations_data[i]['number']}}</div>
                        <div class="operation_about">{{operations_data[i]['about']}}</div>
                        <div class="operation_gost">{{operations_data[i]['gost_group']+operations_data[i]['gost_number']+' ('+operations_data[i]['gost_name']+')'}}</div>
                        <div class="operation_tools">{{operations_data[i]['tools']}}</div>
                        <div class="operation_time">{{operations_data[i]['time']}}</div>
                        {% if role == 'technologist' or role == 'director' %}
                            <div class="delete_operation" onclick="window.location.href='/operation-delete/{{operations_data[i]['id']}}'">-</div>
                            {% if not(i == 0 or i == length - 1) %}
                                <div class="high_operation" onclick="window.location.href='/operation-high/{{operations_data[i]['id']}}'">/\</div>
                                <div class="low_operation" onclick="window.location.href='/operation-low/{{operations_data[i]['id']}}'">\/</div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        
        <footer class="footer">
            <i onclick="window.location.href='/generate-mcard/{{process_data['id']}}'">Сгенерировать маршрутную карту</i>
        </footer>
    </body>
</html>