<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Помошь технологу</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/common.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/technologist/tech_help.css') }}">
    </head>
    <body>
        <div class="header">
            <form action="/"><input type="submit" class="main_header" value="Главная"></input></form>
            {% if role == 'engineer' %}
                <form action="/all-devices"><input type="submit" class="eng_devices" value="Список устройств"></input></form>
                <form action="/component-lib"><input type="submit" class="eng_lib" value="Компоненты"></input></form> 
                <form action="/engineer-help"><input type="submit" class="eng_help" value="Помощь"></input></form> 
            {% endif %}
            {% if role == 'technologist' %}
                <form action="/tech-processes"><input type="submit" class="eng_devices" value="Тех. процесы"></input></form>
                <form action="/tools"><input type="submit" class="eng_lib" value="Оборудование"></input></form> 
                <form action="/technologist-help"><input type="submit" class="eng_help" value="Помощь"></input></form> 
            {% endif %}
            {% if role == 'director' %}
                <form action="/add-tasks"><input type="submit" class="eng_lib" value="Задачи"></input></form>
                <form action="/staff"><input type="submit" class="eng_devices" value="Сотрудники"></input></form>
            {% endif %}
            {% if role == 'guest' %}
                <form action="/all-devices"><input type="submit" class="eng_devices" value="Список устройств"></input></form>
                <form action="/tech-processes"><input type="submit" class="eng_lib" value="Тех. процесы"></input></form> 
            {% endif %}
            <a href="/user" class="user_circle" value=""></a> 
        </div>
        {% for gost in gosts_data %}
            <div class="GOSTS">
                
                <p style="margin-top:20px; margin-left: 100px; font-family: 'Arial'; font-size: 30px; color:rgb(185, 65, 60);">
                    {{gost['group_number']}}00 {{gost['group_name']}}
                </p>
                <div class="GOST_header">
                    <div class="GOST_designator">Номер</div>
                    <div class="GOST_name" style="text-align: center;">Название</div>
                </div>
                    {% for operation in gost['operations'] %}
                        <div class="GOST">
                            {% if operation[0] < 10 %}
                                <div class="GOST_designator">{{gost['group_number']}}0{{operation[0]}}</div>
                            {% else %}
                                <div class="GOST_designator">{{gost['group_number']}}{{operation[0]}}</div>
                            {% endif %}
                            <div class="GOST_name">{{operation[1]}}</div>
                        </div>
                    {% endfor %}
            </div>
        {% endfor %}
        
        <footer class="footer">Хорошего дня!</footer>
    </body>
</html>