.square {
    position: absolute;
    top:  40%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 350px;
    width: 500px;
    background-color: #bdb0b05b;
    text-align: center;
    border-radius: 50px;
}
.error_auth {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%,-50%);
    height: 25px;
    width: 400px;
    background-color: #ca4f4f5b;
    text-align: center;
    border-radius: 10px;
}
.registration {
    position: absolute;
    bottom:  70px;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50px;
    width: 300px;
    font-size: 25px;
    background-color: #8fd4615b;
    text-align: center;
    border-radius: 10px;
}